.padd{
  padding-top: 0px !important;
  padding-left: -20px !important;
  padding-right: 0px !important;
}

.animated{
  padding-left: 0px !important;
}

.app-header{
  height: 40px !important;
  padding: 5px !important;
}


.navbar{
  padding-top: 0px;
}

.app-body{
  margin-top: 50px !important;
  
}

.nav-item>.nav-link:hover{
  background: #3490DC;
}

.nav-item>.nav-link>.active{
  background:#3490DC !important; 
}

main{
  padding-left: 0px !important;
}

body{
  background: white !important;
}

.select-checkbox{
  cursor: pointer;
}

.selected{
  background-color:#C2C5CC33 !important;
  
}